*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e8ff;
  font-family: "Red Hat Display", sans-serif;
}
.banner {
  background: url("../images/pattern-background-mobile.svg") no-repeat center;
  width: 100%;
  height: 194px;
}

.card {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.card img {
  width: 100%;
}
.card section {
  padding: 22px;
}
.card h1 {
  font-size: 22px;
  font-weight: 700;

  color: #1f2e55;
}
.card .details {
  font-size: 15px;
  font-weight: 500;
  padding: 23px 0;
  line-height: 25px;
  color: #717fa6;
}
.card .annuelPrice {
  background-color: #f7f9ff;
  border-radius: 11px;
  padding: 16px;
}
.card .boxDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .circleMusic {
  width: 48px;
  height: 48px;
  background-color: #dfe6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.card .circleMusic i {
  color: #717fa6;
}
.card .subTitle {
  padding: 0 16px;
}
.card .subTitle h2 {
  font-size: 14px;
  font-weight: 700;
  color: #1f2e55;
}
.card .subTitle p {
  font-size: 14px;
  font-weight: 500;
  color: #717fa6;
}
.card p a {
  color: #382ae1;
}
.card button {
  width: 280px;
  height: 50px;
  background-color: #382ae1;
  color: #ffffff;
  padding: 16px 57px;
  border-radius: 11px;
  font-size: 15px;
  font-weight: 700;
  margin: 32px 0;
  border: none;
  box-shadow: #382ae1 0px 7px 29px 0px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.card button:hover {
  opacity: 0.8;
}
.card h3 {
  color: #717fa6;
  font-size: 15px;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .banner {
    background: url("../images/pattern-background-desktop.svg") no-repeat center;
    width: 100%;
    height: 194px;
  }
  .card {
    width: 25%;
  }
}
